.subfooter-content {
    /* background-color: #ffeebb; */
    /* background-color: rgba(200, 200, 200, 0.7); */
    padding-left: 480px;
    padding-right: 480px;
    height: 5vh;
}
.subfooter-company-info {
    display: flex;
    justify-content: space-between;
}

.subfooter_menu > a {
    color: #00539c;
    padding-left: 20px;
    font-size: 0.8em;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
}
